@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amita&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

a {
  text-decoration: none;
  color: #fdcb46;
}

.menu-1 h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  line-height: 100%;
  margin-top: 3%;
  margin-bottom: 2%;
}
@media (max-width: 1200px) {
  .menu-1 h1 {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 700px) {
  .menu-1 h1 {
    font-size: 1.6rem;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
.menu-1 .menu-1__full {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 130px;
  padding: 5%;
  background-color: #fcdfdb;
  box-shadow: 0px 0px 10px lightgray;
}
@media (max-width: 1200px) {
  .menu-1 .menu-1__full {
    width: 85%;
  }
}
@media (max-width: 700px) {
  .menu-1 .menu-1__full {
    width: 95%;
    margin-bottom: 80px;
  }
}
.menu-1 .menu-1__full h1 {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 4rem;
  line-height: 100%;
  margin-bottom: 12%;
  color: #3c1218;
}
@media (max-width: 1200px) {
  .menu-1 .menu-1__full h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 700px) {
  .menu-1 .menu-1__full h1 {
    font-size: 2.2rem;
  }
}
.menu-1 .menu-1__full h2 {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
  line-height: 100%;
  margin-bottom: 25px;
  color: #3c1218;
}
@media (max-width: 1200px) {
  .menu-1 .menu-1__full h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}
@media (max-width: 700px) {
  .menu-1 .menu-1__full h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
}
.menu-1 .menu-1__full .note-logo-position {
  text-align: center;
}
.menu-1 .menu-1__full .note-logo-size {
  width: 120px;
}
@media (max-width: 1200px) {
  .menu-1 .menu-1__full .note-logo-size {
    width: 70px;
  }
}
@media (max-width: 700px) {
  .menu-1 .menu-1__full .note-logo-size {
    width: 60px;
  }
}
.menu-1 .menu-1__full .inline-footer {
  margin-top: 12%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.menu-1 .menu-1__full .inline-footer-img {
  width: 70px;
  margin-right: 15px;
}
@media (max-width: 1200px) {
  .menu-1 .menu-1__full .inline-footer-img {
    width: 50px;
  }
}
@media (max-width: 700px) {
  .menu-1 .menu-1__full .inline-footer-img {
    width: 40px;
  }
}
.menu-1 .menu-1__full .menu-1__content {
  margin: 8% 0;
  font-family: "Kalam", cursive;
  font-size: 1rem;
  color: #3c1218;
}
@media (max-width: 1200px) {
  .menu-1 .menu-1__full .menu-1__content {
    font-size: 0.95rem;
  }
}
@media (max-width: 700px) {
  .menu-1 .menu-1__full .menu-1__content {
    font-size: 0.9rem;
  }
}
.menu-1 .menu-1__full .menu-1__content .price {
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .menu-1 .menu-1__full .menu-1__content .price {
    font-size: 1.2rem;
  }
}
@media (max-width: 700px) {
  .menu-1 .menu-1__full .menu-1__content .price {
    font-size: 1.1rem;
  }
}
.menu-1 .menu-1__full .menu-1__content .inline-img {
  width: 30%;
}
.menu-1 .menu-1__full .menu-1__content .inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
}
.menu-1 .menu-1__full .menu-1__content h3 {
  font-family: "Kalam", cursive;
  font-size: 2rem;
  color: #3c1218;
  text-align: center;
  background: linear-gradient(to top, #3c1218 0%, #3c1218 2px, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.menu-1 .menu-1__full .menu-1__content h3:hover {
  background-size: 100% 100%;
}
@media (max-width: 1200px) {
  .menu-1 .menu-1__full .menu-1__content h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 700px) {
  .menu-1 .menu-1__full .menu-1__content h3 {
    font-size: 1.2rem;
  }
}
.menu-1 .menu-1__full .menu-1__content .menu-1__content__item {
  margin: 1.5% 0%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .menu-1 .menu-1__full .menu-1__content .menu-1__content__item {
    margin: 20px 0%;
  }
}

.menu-2 h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  line-height: 100%;
  margin-top: 3%;
  margin-bottom: 2%;
}
@media (max-width: 1200px) {
  .menu-2 h1 {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 700px) {
  .menu-2 h1 {
    font-size: 1.6rem;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
.menu-2 .menu-2__full {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 130px;
  padding: 5%;
  background-color: #fff5fe;
  box-shadow: 0px 0px 10px lightgray;
}
@media (max-width: 1200px) {
  .menu-2 .menu-2__full {
    width: 85%;
  }
}
@media (max-width: 700px) {
  .menu-2 .menu-2__full {
    width: 95%;
    margin-bottom: 80px;
  }
}
.menu-2 .menu-2__full .inline-img {
  width: 30%;
}
.menu-2 .menu-2__full h1 {
  font-family: "Amita", cursive;
  line-height: 100%;
  font-size: 4rem;
  margin-bottom: 25px;
  background: -webkit-gradient(linear, right bottom, left top, from(#905bfd), to(#c77412));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1200px) {
  .menu-2 .menu-2__full h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 700px) {
  .menu-2 .menu-2__full h1 {
    font-size: 1.75rem;
  }
}
.menu-2 .menu-2__full .price {
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .menu-2 .menu-2__full .price {
    font-size: 1.2rem;
  }
}
@media (max-width: 700px) {
  .menu-2 .menu-2__full .price {
    font-size: 1.1rem;
  }
}
.menu-2 .menu-2__full .menu-2__content--1 {
  margin: 8% 0;
  font-family: "Crete Round", serif;
  font-size: 1rem;
  line-height: 200%;
  color: #c77412;
}
@media (max-width: 1200px) {
  .menu-2 .menu-2__full .menu-2__content--1 {
    font-size: 0.95rem;
  }
}
@media (max-width: 700px) {
  .menu-2 .menu-2__full .menu-2__content--1 {
    font-size: 0.9rem;
    line-height: 140%;
  }
}
.menu-2 .menu-2__full .menu-2__content--1 .inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}
.menu-2 .menu-2__full .menu-2__content--1 h3 {
  font-family: "Crete Round", serif;
  line-height: 100%;
  font-size: 2rem;
  color: #c77412;
  text-align: center;
  background: linear-gradient(to top, #c77412 0%, #c77412 2px, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.menu-2 .menu-2__full .menu-2__content--1 h3:hover {
  background-size: 100% 100%;
}
@media (max-width: 1200px) {
  .menu-2 .menu-2__full .menu-2__content--1 h3 {
    font-size: 1.1rem;
  }
}
@media (max-width: 700px) {
  .menu-2 .menu-2__full .menu-2__content--1 h3 {
    font-size: 1rem;
  }
}
.menu-2 .menu-2__full .menu-2__content--1 .menu-2__content__item {
  margin: 1.5% 4%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .menu-2 .menu-2__full .menu-2__content--1 .menu-2__content__item {
    margin: 15px 4%;
  }
}
.menu-2 .menu-2__full .menu-2__content--2 {
  margin: 8% 0;
  font-family: "Crete Round", serif;
  font-size: 1rem;
  line-height: 200%;
  color: #a56799;
}
@media (max-width: 1200px) {
  .menu-2 .menu-2__full .menu-2__content--2 {
    font-size: 0.95rem;
  }
}
@media (max-width: 700px) {
  .menu-2 .menu-2__full .menu-2__content--2 {
    font-size: 0.9rem;
    line-height: 140%;
  }
}
.menu-2 .menu-2__full .menu-2__content--2 .inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}
.menu-2 .menu-2__full .menu-2__content--2 h3 {
  font-family: "Crete Round", serif;
  line-height: 100%;
  font-size: 2rem;
  color: #a56799;
  text-align: center;
  background: linear-gradient(to top, #a56799 0%, #a56799 2px, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.menu-2 .menu-2__full .menu-2__content--2 h3:hover {
  background-size: 100% 100%;
}
@media (max-width: 1200px) {
  .menu-2 .menu-2__full .menu-2__content--2 h3 {
    font-size: 1.1rem;
  }
}
@media (max-width: 700px) {
  .menu-2 .menu-2__full .menu-2__content--2 h3 {
    font-size: 1rem;
  }
}
.menu-2 .menu-2__full .menu-2__content--2 .menu-2__content__item {
  margin: 1.5% 4%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .menu-2 .menu-2__full .menu-2__content--2 .menu-2__content__item {
    margin: 15px 4%;
  }
}
.menu-2 .menu-2__full .menu-2__content--3 {
  margin: 8% 0;
  font-family: "Crete Round", serif;
  font-size: 1rem;
  line-height: 200%;
  color: #6e4ccc;
}
@media (max-width: 1200px) {
  .menu-2 .menu-2__full .menu-2__content--3 {
    font-size: 0.95rem;
  }
}
@media (max-width: 700px) {
  .menu-2 .menu-2__full .menu-2__content--3 {
    font-size: 0.9rem;
    line-height: 140%;
  }
}
.menu-2 .menu-2__full .menu-2__content--3 .inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}
.menu-2 .menu-2__full .menu-2__content--3 h3 {
  font-family: "Crete Round", serif;
  line-height: 100%;
  font-size: 2rem;
  color: #6e4ccc;
  text-align: center;
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 2px, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.menu-2 .menu-2__full .menu-2__content--3 h3:hover {
  background-size: 100% 100%;
}
@media (max-width: 1200px) {
  .menu-2 .menu-2__full .menu-2__content--3 h3 {
    font-size: 1.1rem;
  }
}
@media (max-width: 700px) {
  .menu-2 .menu-2__full .menu-2__content--3 h3 {
    font-size: 1rem;
  }
}
.menu-2 .menu-2__full .menu-2__content--3 .menu-2__content__item {
  margin: 1.5% 4%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .menu-2 .menu-2__full .menu-2__content--3 .menu-2__content__item {
    margin: 15px 4%;
  }
}

.menu-3 h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  line-height: 100%;
  margin-top: 3%;
  margin-bottom: 2%;
}
@media (max-width: 1200px) {
  .menu-3 h1 {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 700px) {
  .menu-3 h1 {
    font-size: 1.6rem;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
.menu-3 .menu-3__full {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 130px;
  padding: 5%;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px lightgray;
}
@media (max-width: 1200px) {
  .menu-3 .menu-3__full {
    width: 85%;
  }
}
@media (max-width: 700px) {
  .menu-3 .menu-3__full {
    margin-bottom: 80px;
    width: 95%;
  }
}
.menu-3 .menu-3__full .inline-img {
  width: 30%;
}
.menu-3 .menu-3__full h1 {
  font-family: "Dancing Script", cursive;
  line-height: 130%;
  font-size: 4rem;
  margin-bottom: 25px;
  background: -webkit-gradient(linear, right bottom, left top, from(#0887fb), to(#0431df));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1200px) {
  .menu-3 .menu-3__full h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 1200px) {
  .menu-3 .menu-3__full h1 {
    font-size: 2.1rem;
  }
}
.menu-3 .menu-3__full .menu-3__content {
  margin: 8% 0;
  font-family: "Kalam", cursive;
  font-size: 1rem;
  line-height: 200%;
  color: black;
}
@media (max-width: 1200px) {
  .menu-3 .menu-3__full .menu-3__content {
    font-size: 0.95rem;
  }
}
@media (max-width: 700px) {
  .menu-3 .menu-3__full .menu-3__content {
    font-size: 0.9rem;
  }
}
.menu-3 .menu-3__full .menu-3__content .price {
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .menu-3 .menu-3__full .menu-3__content .price {
    font-size: 1.1rem;
  }
}
@media (max-width: 700px) {
  .menu-3 .menu-3__full .menu-3__content .price {
    font-size: 1rem;
  }
}
.menu-3 .menu-3__full .menu-3__content .inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
}
.menu-3 .menu-3__full .menu-3__content h3 {
  font-family: "Kalam", cursive;
  line-height: 100%;
  font-size: 1.3rem;
  color: black;
  text-align: center;
  background: linear-gradient(to top, black 0%, black 2px, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.menu-3 .menu-3__full .menu-3__content h3:hover {
  background-size: 100% 100%;
}
@media (max-width: 1200px) {
  .menu-3 .menu-3__full .menu-3__content h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 700px) {
  .menu-3 .menu-3__full .menu-3__content h3 {
    font-size: 1.1rem;
  }
}
.menu-3 .menu-3__full .menu-3__content .menu-3__content__item {
  margin: 1.5% 4%;
  display: flex;
  justify-content: space-between;
}

.menu-4 h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  line-height: 100%;
  margin-top: 3%;
  margin-bottom: 2%;
}
@media (max-width: 1200px) {
  .menu-4 h1 {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 700px) {
  .menu-4 h1 {
    font-size: 1.6rem;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
.menu-4 .menu-4__full {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 130px;
  padding: 5%;
  background-color: #fdfffd;
  box-shadow: 0px 0px 10px lightgray;
}
@media (max-width: 1200px) {
  .menu-4 .menu-4__full {
    width: 85%;
  }
}
@media (max-width: 700px) {
  .menu-4 .menu-4__full {
    width: 95%;
    margin-bottom: 80px;
  }
}
.menu-4 .menu-4__full .inline-img {
  width: 30%;
}
.menu-4 .menu-4__full h1 {
  font-family: "Kaushan Script", cursive;
  line-height: 140%;
  font-size: 4rem;
  margin-bottom: 25px;
  background: -webkit-gradient(linear, right bottom, left top, from(#bfff7e), to(#72bf56));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1200px) {
  .menu-4 .menu-4__full h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 700px) {
  .menu-4 .menu-4__full h1 {
    font-size: 2.3rem;
  }
}
.menu-4 .menu-4__full .menu-4__content {
  margin: 8% 0;
  font-family: "Kalam", cursive;
  font-size: 1rem;
  line-height: 200%;
  color: black;
}
@media (max-width: 1200px) {
  .menu-4 .menu-4__full .menu-4__content {
    font-size: 0.95rem;
  }
}
@media (max-width: 700px) {
  .menu-4 .menu-4__full .menu-4__content {
    font-size: 0.9rem;
  }
}
.menu-4 .menu-4__full .menu-4__content .inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
}
.menu-4 .menu-4__full .menu-4__content .price {
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  .menu-4 .menu-4__full .menu-4__content .price {
    font-size: 1.1rem;
  }
}
@media (max-width: 700px) {
  .menu-4 .menu-4__full .menu-4__content .price {
    font-size: 1rem;
  }
}
.menu-4 .menu-4__full .menu-4__content h3 {
  font-family: "Kalam", cursive;
  line-height: 100%;
  font-size: 1.3rem;
  color: black;
  text-align: center;
  background: linear-gradient(to top, black 0%, black 2px, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s;
}
.menu-4 .menu-4__full .menu-4__content h3:hover {
  background-size: 100% 100%;
}
@media (max-width: 1200px) {
  .menu-4 .menu-4__full .menu-4__content h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 700px) {
  .menu-4 .menu-4__full .menu-4__content h3 {
    font-size: 1.2rem;
  }
}
.menu-4 .menu-4__full .menu-4__content .menu-4__content__item {
  margin: 1.5% 4%;
  display: flex;
  justify-content: space-between;
}

header {
  background-color: #579c87;
  width: 100%;
}

.header__image--position {
  text-align: center;
  padding-top: 8px;
  margin-bottom: 0;
  margin-left: 4%;
  margin-right: 4%;
}
.header__image--position .header__image--size {
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin: 10px 0;
}
@media (max-width: 1200px) {
  .header__image--position .header__image--size {
    width: 200px;
  }
}
@media (max-width: 700px) {
  .header__image--position .header__image--size {
    width: 180px;
  }
}

.box {
  display: flex;
  justify-content: center;
  margin: 4%;
}
@media (max-width: 1200px) {
  .box {
    margin: 6%;
  }
}
@media (max-width: 700px) {
  .box {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
  }
}
.box .box__menu {
  width: 350px;
  height: 500px;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 0px 10px lightgray;
  display: table;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .box .box__menu {
    width: 250px;
    height: 330px;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 700px) {
  .box .box__menu {
    width: 300px;
    height: 380px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 33.3px;
    margin-bottom: 11.1px;
  }
}
.box .box__menu .box__menu__content {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.box .box__menu-1 {
  background-color: #fcdfdb;
  transition: 0.4s;
}
.box .box__menu-1:hover {
  opacity: 0.8;
  transition: 0.4s;
}
.box .box__menu-1:hover .note-logo-size {
  width: 70px;
  transition: 0.4s;
  opacity: 0.8;
}
@media (max-width: 1200px) {
  .box .box__menu-1:hover .note-logo-size {
    width: 55px;
  }
}
@media (max-width: 700px) {
  .box .box__menu-1:hover .note-logo-size {
    width: 70px;
  }
}
.box .box__menu-1:hover .box__menu-1__title {
  font-family: "Pacifico", cursive;
  font-size: 1.9rem;
  line-height: 100%;
  margin-bottom: 25px;
  color: #3c1218;
  opacity: 0.8;
  transition: 0.4s;
}
@media (max-width: 1200px) {
  .box .box__menu-1:hover .box__menu-1__title {
    font-size: 1.7rem;
  }
}
@media (max-width: 700px) {
  .box .box__menu-1:hover .box__menu-1__title {
    font-size: 1.9rem;
  }
}
.box .box__menu-1:hover .box__menu-1__subtitle {
  font-family: "Kalam", cursive;
  line-height: 100%;
  font-size: 2.5rem;
  color: #3c1218;
  opacity: 0.8;
  transition: 0.4s;
}
@media (max-width: 1200px) {
  .box .box__menu-1:hover .box__menu-1__subtitle {
    font-size: 2.2rem;
  }
}
@media (max-width: 700px) {
  .box .box__menu-1:hover .box__menu-1__subtitle {
    font-size: 2.5rem;
  }
}
.box .box__menu-1 .note-logo-position {
  text-align: center;
}
.box .box__menu-1 .note-logo-size {
  width: 60px;
  transition: 0.4s;
}
@media (max-width: 1200px) {
  .box .box__menu-1 .note-logo-size {
    width: 45px;
  }
}
@media (max-width: 700px) {
  .box .box__menu-1 .note-logo-size {
    width: 60px;
  }
}
.box .box__menu-1 .box__menu-1__title {
  font-family: "Pacifico", cursive;
  font-size: 1.7rem;
  line-height: 100%;
  margin-bottom: 25px;
  color: #3c1218;
  transition: 0.4s;
}
@media (max-width: 1200px) {
  .box .box__menu-1 .box__menu-1__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 700px) {
  .box .box__menu-1 .box__menu-1__title {
    font-size: 1.7rem;
  }
}
.box .box__menu-1 .box__menu-1__subtitle {
  font-family: "Kalam", cursive;
  line-height: 100%;
  font-size: 2.3rem;
  color: #3c1218;
  transition: 0.4s;
}
@media (max-width: 1200px) {
  .box .box__menu-1 .box__menu-1__subtitle {
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  .box .box__menu-1 .box__menu-1__subtitle {
    font-size: 2.3rem;
  }
}
.box .box__menu-2 {
  background-color: #fff5fe;
  transition: 0.4s;
}
.box .box__menu-2:hover {
  opacity: 0.8;
  transition: 0.4s;
}
.box .box__menu-2:hover .box__menu-2__title {
  font-family: "Amita", cursive;
  line-height: 100%;
  font-size: 1.7rem;
  margin-bottom: 25px;
  background: -webkit-gradient(linear, right bottom, left top, from(#905bfd), to(#c77412));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
  transition: 0.4s;
}
@media (max-width: 1200px) {
  .box .box__menu-2:hover .box__menu-2__title {
    font-size: 1.4rem;
  }
}
@media (max-width: 700px) {
  .box .box__menu-2:hover .box__menu-2__title {
    font-size: 1.7rem;
  }
}
.box .box__menu-2:hover .box__menu-2__subtitle {
  font-family: "Crete Round", serif;
  line-height: 100%;
  font-size: 2.4rem;
  color: #c77412;
  opacity: 0.8;
  transition: 0.4s;
}
@media (max-width: 1200px) {
  .box .box__menu-2:hover .box__menu-2__subtitle {
    font-size: 2.2rem;
  }
}
@media (max-width: 700px) {
  .box .box__menu-2:hover .box__menu-2__subtitle {
    font-size: 2.4rem;
  }
}
.box .box__menu-2 .box__menu-2__title {
  font-family: "Amita", cursive;
  line-height: 100%;
  font-size: 1.5rem;
  margin-bottom: 25px;
  background: -webkit-gradient(linear, right bottom, left top, from(#905bfd), to(#c77412));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s;
}
@media (max-width: 1200px) {
  .box .box__menu-2 .box__menu-2__title {
    font-size: 1.2rem;
  }
}
@media (max-width: 700px) {
  .box .box__menu-2 .box__menu-2__title {
    font-size: 1.5rem;
  }
}
.box .box__menu-2 .box__menu-2__subtitle {
  font-family: "Crete Round", serif;
  line-height: 100%;
  font-size: 2.2rem;
  color: #c77412;
  transition: 0.4s;
}
@media (max-width: 1200px) {
  .box .box__menu-2 .box__menu-2__subtitle {
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  .box .box__menu-2 .box__menu-2__subtitle {
    font-size: 2.2rem;
  }
}
.box .box__menu-3 {
  background-color: #f9f9f9;
}
.box .box__menu-3:hover {
  opacity: 0.8;
  transition: 0.4s;
}
.box .box__menu-3:hover .box__menu-3__title {
  font-family: "Dancing Script", cursive;
  line-height: 100%;
  font-size: 2.2rem;
  margin-bottom: 25px;
  background: -webkit-gradient(linear, right bottom, left top, from(#0887fb), to(#0431df));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
  transition: 0.4s;
}
@media (max-width: 1200px) {
  .box .box__menu-3:hover .box__menu-3__title {
    font-size: 1.8rem;
  }
}
@media (max-width: 700px) {
  .box .box__menu-3:hover .box__menu-3__title {
    font-size: 2.2rem;
  }
}
.box .box__menu-3:hover .box__menu-3__subtitle {
  font-family: "Kalam", cursive;
  line-height: 100%;
  font-size: 2.5rem;
  color: #0887fb;
  opacity: 0.8;
  transition: 0.4s;
}
@media (max-width: 1200px) {
  .box .box__menu-3:hover .box__menu-3__subtitle {
    font-size: 2.2rem;
  }
}
@media (max-width: 700px) {
  .box .box__menu-3:hover .box__menu-3__subtitle {
    font-size: 2.5rem;
  }
}
.box .box__menu-3 .box__menu-3__title {
  font-family: "Dancing Script", cursive;
  line-height: 100%;
  font-size: 2rem;
  margin-bottom: 25px;
  background: -webkit-gradient(linear, right bottom, left top, from(#0887fb), to(#0431df));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s;
}
@media (max-width: 1200px) {
  .box .box__menu-3 .box__menu-3__title {
    font-size: 1.6rem;
  }
}
@media (max-width: 700px) {
  .box .box__menu-3 .box__menu-3__title {
    font-size: 2rem;
  }
}
.box .box__menu-3 .box__menu-3__subtitle {
  font-family: "Kalam", cursive;
  line-height: 100%;
  font-size: 2.3rem;
  color: #0887fb;
  transition: 0.4s;
}
@media (max-width: 1200px) {
  .box .box__menu-3 .box__menu-3__subtitle {
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  .box .box__menu-3 .box__menu-3__subtitle {
    font-size: 2.3rem;
  }
}
.box .box__menu-4 {
  background-color: #fdfffd;
}
.box .box__menu-4:hover {
  opacity: 0.8;
  transition: 0.4s;
}
.box .box__menu-4:hover .box__menu-4__title {
  font-family: "Kaushan Script", cursive;
  line-height: 100%;
  font-size: 2.2rem;
  margin-bottom: 25px;
  background: -webkit-gradient(linear, right bottom, left top, from(#bfff7e), to(#72bf56));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
  transition: 0.4s;
}
@media (max-width: 1200px) {
  .box .box__menu-4:hover .box__menu-4__title {
    font-size: 1.7rem;
  }
}
@media (max-width: 700px) {
  .box .box__menu-4:hover .box__menu-4__title {
    font-size: 2.2rem;
  }
}
.box .box__menu-4:hover .box__menu-4__subtitle {
  font-family: "Kalam", cursive;
  line-height: 100%;
  font-size: 2.5rem;
  color: #72bf56;
}
@media (max-width: 1200px) {
  .box .box__menu-4:hover .box__menu-4__subtitle {
    font-size: 2.2rem;
  }
}
@media (max-width: 700px) {
  .box .box__menu-4:hover .box__menu-4__subtitle {
    font-size: 2.5rem;
  }
}
.box .box__menu-4 .box__menu-4__title {
  font-family: "Kaushan Script", cursive;
  line-height: 100%;
  font-size: 2rem;
  margin-bottom: 25px;
  background: -webkit-gradient(linear, right bottom, left top, from(#bfff7e), to(#72bf56));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s;
}
@media (max-width: 1200px) {
  .box .box__menu-4 .box__menu-4__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 700px) {
  .box .box__menu-4 .box__menu-4__title {
    font-size: 2rem;
  }
}
.box .box__menu-4 .box__menu-4__subtitle {
  font-family: "Kalam", cursive;
  line-height: 100%;
  font-size: 2.3rem;
  color: #72bf56;
  transition: 0.4s;
}
@media (max-width: 1200px) {
  .box .box__menu-4 .box__menu-4__subtitle {
    font-size: 2rem;
  }
}
@media (max-width: 700px) {
  .box .box__menu-4 .box__menu-4__subtitle {
    font-size: 2.3rem;
  }
}

.section-btn {
  text-align: center;
  margin-bottom: 110px;
}
@media (max-width: 700px) {
  .section-btn {
    margin-bottom: 90px;
  }
}
.section-btn .section-btn__prochainement {
  background-color: #579c87;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  width: 330px;
  border-radius: 15px;
  margin: auto;
  font-size: 1.8rem;
  color: #fdcb46;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 1200px) {
  .section-btn .section-btn__prochainement {
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    width: 280px;
    font-size: 1.5rem;
  }
}
@media (max-width: 700px) {
  .section-btn .section-btn__prochainement {
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    width: 280px;
    font-size: 1.6rem;
  }
}

.loading span {
  width: 8px;
  height: 8px;
  margin: 0 0;
  border-radius: 50%;
  background-color: #fdcb46;
  display: inline-block;
  animation-name: jumping-dots;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.loading span:nth-child(2) {
  animation-delay: 0.4s;
}
.loading span:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes jumping-dots {
  10% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
}
.shake:hover {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(1px, 1px) rotate(-1deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(1px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
}
footer {
  background-color: #579c87;
  display: flex;
  justify-content: space-between;
  color: #fdcb46;
  font-size: 1.4rem;
  line-height: 240%;
  padding: 0.4% 2%;
  font-family: "Open Sans", sans-serif;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}
@media (max-width: 1200px) {
  footer {
    font-size: 1.2rem;
  }
}
@media (max-width: 700px) {
  footer {
    font-size: 1.1rem;
  }
}

/*# sourceMappingURL=style.css.map */
